flask
flask-cors
pillow
python-dotenv
langchain
pandas
numpy
chromadb
langchain-community
langchain-core
langchain-chroma
sentence-transformers
pydantic
google-cloud-aiplatform
google-auth
langgraph
langchain-google-vertexai
langchain-huggingface
pytest
opencv-python-headless
transformers
torch
torchvision